@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Monda&display=swap");
@import url("./sections.css");

$red: #f2505d;
$blue: #d5e5f2;
$slate-brown: #a69180;
$brown: #8c4535;
$dark-blue: #191f24;
$blue-grey: #edf7fa;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

//custom scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $blue;
}

::-webkit-scrollbar-thumb {
  background: $red;
}

/////////////////////////////////////////// header stuff for active nav ///////////////////////////////////////

.mobile {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
  font-size: 1rem;
  font-style: bold;

  .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inner {
    width: 60%;
    margin: 0 auto;

    .logo {
      text-decoration: none;
      color: $dark-blue;
      font-weight: 400;
      font-family: "Julius Sans One", sans-serif;
    }

    nav ul {
      display: flex;
      list-style-type: none;

      li {
        padding: 1rem;

        a {
          text-decoration: none;
        }

        .active {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.3em;
          }

          .menu-item {
            border-bottom: solid transparent 2px;
            text-decoration: none;
            font-weight: 400;
            font-family: "Julius Sans One", sans-serif;
            color: $dark-blue;
            &:hover {
              animation: navfadein 1s forwards;
            }
          }
        }
      }
    }
  }
}

.scroll-down {
  header {
    transform: translate3d(0, -100%, 0);
  }
}

.scroll-up {
  header {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  }
}

.add-bg {
  header {
    animation: fadein 0.5s forwards;
    background-color: white;

    .logo,
    .menu-item {
      color: $dark-blue;
    }
  }
}

.remove-bg {
  header {
    animation: fade 0.5s forwards;
    background-color: white;

    .logo,
    .menu-item {
      color: $dark-blue;
    }
  }
}

@keyframes navfadein {
  from {
    border-bottom: solid transparent 2px;
  }
  to {
    border-bottom: solid 2px;
  }
}

@keyframes navfadeout {
  from {
    border-bottom: solid 2px;
  }
  to {
    border-bottom: solid transparent 2px;
  }
}

@keyframes fadein {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 1);
  }
}

@keyframes fade {
  from {
    background-color: white;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

.menu-is-open {
  overflow: hidden;

  header {
    filter: none;
  }
}
.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-down header {
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}

/////////////////////////////////////////// end header stuff for active nav ///////////////////////////////////////

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 810px 1fr 1fr;
  grid-template-rows: 90vh;
}
.hero1-txt {
  z-index: 99;
  grid-column: 2 / 5;
  text-align: center;
  margin-top: 400px;
  font-weight: 400;
  font-family: "Julius Sans One", sans-serif;
  text-transform: uppercase;
  font-size: 110px;
  color: $dark-blue;
  opacity: 0;


  @media only screen and (max-width: 799px){
    opacity: 1;
    font-size: 40px;
    margin-top:200px;
  }
  @media only screen and (min-width: 800px) {
    animation: herotxtA-firstAnim, herotxtA-secondAnim;
    animation-duration: 0.9s, 0.7s;
    animation-delay: 0s, 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

.hero2-txt {
  z-index: 99;
  grid-column: 2 / 5;
  text-align: center;
  margin-top: -755px;
  font-weight: 400;
  font-family: "Julius Sans One", sans-serif;
  text-transform: uppercase;
  font-size: 110px;
  color: $dark-blue;
  opacity: 0;
  @media only screen and (max-width: 799px){
    opacity: 1;
    margin-top: -847px;
    font-size: 40px;
}
  @media only screen and (min-width: 800px) {
    transform: translateY(200px);
    animation: herotxtA-firstAnim, herotxtA-secondAnim;
    animation-duration: 0.9s, 0.7s;
    animation-delay: 2.1s, 4.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

.hero3-txt {
  z-index: 99;
  grid-column: 2 / 5;
  text-align: center;
  margin-top: -758px;
  font-weight: 400;
  font-family: "Julius Sans One", sans-serif;
  text-transform: uppercase;
  font-size: 110px;
  color: $dark-blue;
  opacity: 0;
  @media only screen and (max-width: 799px){
    opacity: 1;
    margin-top: -797px;
    font-size: 40px;
  }
  @media only screen and (min-width: 800px) {
    transform: translateY(200px);
    animation: herotxtA-firstAnim;
    animation-duration: 1s;
    animation-delay: 4.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

.hero1-a {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background: url(../assets/heroes/hero1.jpg) no-repeat;
  background-size: cover;
  
  @media only screen and (min-width: 800px) {
    animation: heroA-firstScale, heroA-secondScale, heroA-thirdScale;
    animation-duration: 1s, 1s, 1s;
    animation-delay: 0s, 2s, 4.2s;
    animation-timing-function: ease-Out;
    animation-fill-mode: forwards;
  }
}

.hero1-b {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background: url(../assets/heroes/hero1.jpg) no-repeat;
  background-size: cover;
  @media only screen and (min-width: 800px) {
    animation: heroB-firstScale, heroB-secondScale, heroB-thirdScale;
    animation-duration: 1s, 1s, 1s;
    animation-delay: 0.1s, 2.1s, 4.2s;
    animation-timing-function: ease-Out;
    animation-fill-mode: forwards;
  }
}

.hero1-c {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background: url(../assets/heroes/hero1.jpg) no-repeat;
  background-size: cover;
}

.hero2-a {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background: url(../assets/heroes/hero2.jpg) no-repeat;
  background-size: cover;
  opacity: 0;
  @media only screen and (min-width: 800px) {
    animation: heroA-firstScale, heroA-secondScale, fadeIn, heroA-thirdScale;
    animation-duration: 1s, 1s, 0.2s, 1s;
    animation-delay: 0s, 2s, 2.4s, 4.4s;
    animation-timing-function: ease-Out;
    animation-fill-mode: forwards;
  }
}

.hero2-b {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background: url(../assets/heroes/hero2.jpg) no-repeat;
  background-size: cover;
  opacity: 0;
  @media only screen and (min-width: 800px) {
    animation: heroB-firstScale, heroB-secondScale, fadeIn, heroB-thirdScale;
    animation-duration: 1s, 1s, 0.2s, 1s;
    animation-delay: 0.1s, 2.1s, 2.3s, 4.3s;
    animation-timing-function: ease-Out;
    animation-fill-mode: forwards;
  }
}

.hero2-c {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background: url(../assets/heroes/hero2.jpg) no-repeat;
  background-size: cover;
  opacity: 0;
  @media only screen and (min-width: 800px) {
    animation: fadeIn;
    animation-duration: 0.2s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
  }
}

.hero3-a {
  z-index: 30;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background: url(../assets/heroes/hero3.jpg) no-repeat;
  background-size: cover;
  opacity: 0;
  @media only screen and (min-width: 800px) {
    animation: heroA-firstScale, heroA-secondScale, heroA-thirdScale, fadeIn;
    animation-duration: 1s, 1s, 1s, 0.2s;
    animation-delay: 0s, 2s, 4.4s, 4.6s;
    animation-timing-function: ease-Out;
    animation-fill-mode: forwards;
  }
}

.hero3-b {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background: url(../assets/heroes/hero3.jpg) no-repeat;
  background-size: cover;
  opacity: 0;
  @media only screen and (min-width: 800px) {
    animation: heroB-firstScale, heroB-secondScale, heroB-thirdScale, fadeIn;
    animation-duration: 1s, 1s, 1s, 0.2s;
    animation-delay: 0.1s, 2.1s, 4.3s, 4.5s;
    animation-timing-function: ease-Out;
    animation-fill-mode: forwards;
  }
}

.hero3-c {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background: url(../assets/heroes/hero3.jpg) no-repeat;
  background-size: cover;
  opacity: 0;
  @media only screen and (min-width: 800px) {
    animation: fadeIn;
    animation-duration: 0.2s;
    animation-delay: 4.4s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//herotxtA
@keyframes herotxtA-firstAnim {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.7;
    transform: translateY(0px);
  }
}

@keyframes herotxtA-secondAnim {
  0% {
    transform: translateY(0px);
  }
  100% {
    opacity: 0%;
    transform: translateY(-100px);
  }
}

//herotxtB
@keyframes herotxtB-firstAnim {
  0% {
    opacity: 0%;
    transform: translateY(0px);
  }
  20% {
    opacity: 0%;
  }
  60% {
    opacity: 30%;
  }
  100% {
    transform: translateY(-100px);
  }
}

//HERO A
@keyframes heroA-firstScale {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(95%) translateY(30px);
  }
}

@keyframes heroA-secondScale {
  0% {
    transform: scale(95%) translateY(30px);
  }
  100% {
    transform: scale(85%) translateY(98px);
  }
}

@keyframes heroA-thirdScale {
  0% {
    transform: scale(85%) translateY(98px);
  }
  100% {
    transform: scale(75%) translateY(191px);
  }
}

//HERO B
@keyframes heroB-firstScale {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(98%) translateY(12px);
  }
}

@keyframes heroB-secondScale {
  0% {
    transform: scale(98%) translateY(12px);
  }
  100% {
    transform: scale(94%) translateY(36px);
  }
}

@keyframes heroB-thirdScale {
  0% {
    transform: scale(94%) translateY(36px);
  }
  100% {
    transform: scale(88%) translateY(78px);
  }
}

@keyframes herotxtB-firstAnim {
  0% {
    opacity: 0%;
    transform: translateY(200px);
  }
  20% {
    opacity: 0%;
  }
  60% {
    opacity: 30%;
  }
  100% {
    transform: translateY(0px);
  }
}

//HERO C
@keyframes heroC-secondScale {
  0% {
    transform: scale(98%) translateY(17px);
  }
  100% {
    transform: scale(94%) translateY(57px);
  }
}

///////////////////////////////////////////////////////////////////////////////// other classes /////////////////////

.show {
  display: block;
}

.hide {
  display: none !important;
}

///////////////////////////////////////////////////////////////////////////////// media queries /////////////////////
//mobile - 360 to 599 width
@media only screen and (max-width: 699px) {

  header {
    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }

    .mobile {
      max-width: 860px;
      margin: 0 auto;
      position: relative;
      font-family: "Roboto", sans-serif;
      z-index: 10000;
    }

    .mobile-menu-item {
      border-bottom: solid transparent 2px;
      text-decoration: none;
      font-weight: 400;
      font-family: "Julius Sans One", sans-serif;
    }

    /* checkbox styling */
    .label-style {
      width: 46px;
      height: 46px;
      right: 15px;
      top: 15px;
      cursor: pointer;
      position: absolute;
      z-index: 1;
    }

    .burger-box {
      width: 100%;
      height: 100%;
      display: block;
      padding-top: 40px;
      padding-left: 3px;
      position: absolute;
    }

    #burger-check {
      display: none;
    }

    /* nav bar lines */
    .bar {
      width: 20px;
      height: 2px;
      border-radius: 20%;
      background: $red;
      position: relative;
    }

    .bar:before,
    .bar:after {
      content: "";
      top: -10px;
      right: 0px;
      width: 20px;
      height: 2px;
      border-radius: 20%;
      background: inherit;
      position: absolute;
    }
    .bar:before {
      top: -8px;
    }
    .bar:after {
      top: 8px;
    }

    /* drop down menu */
    .nav-menu {
      position: absolute;
      width: 100%;
      margin-top: -20px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      transform: translate(0, -120%);
      transition: transform 0.4s ease;
    }

    li {
      list-style: none;
      padding: 25px 35px;
    }

    li:hover,
    li:active {
      color: $slate-brown;
      transition: 0.3s ease;
    }

    a:visited {
      color: $blue;
      background-color: $blue;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 24px;
      letter-spacing: 2px;
    }

    li:hover > a,
    li:active > a {
      color: $red;
      transition: 0.3s ease;
    }
  }

  .hero-grid {
    grid-template-columns: 1fr 1fr 100% 1fr 1fr;
  }
}

//small tablet - 600 - 850 width
@media only screen and (min-width: 700px) and (max-width: 850px) {
  header {
    .inner {
      width: 100vw;
      padding-left: 30px;
      padding-right: 30px;
    }
    // .desktop {
    //   display: block;
    // }

    .mobile {
      display: none;
    }
  }
}

//tablet - 600 to 1023 width
@media only screen and (min-width: 800px) and (max-width: 1349px) {
  .hero-grid {
    grid-template-columns: 1fr 1fr 500px 1fr 1fr;

    .hero1-txt {
      font-size: 4rem;
    }

    .hero2-txt {
      font-size: 4rem;
    }

    .hero3-txt {
      font-size: 4rem;
    }
  }
}
